html, body {
	margin:0 auto 1em;
	width:800px;
    font:normal 1em/1.5 "Exo 2", helvetica, arial, sans-serif;
}

main article p > code, 
main article li > code {
    background: none repeat scroll 0 0 #F5F6F7;
    border: 1px solid #DCDDDD;
    border-radius: 2px;
    display: inline-block;
    font-family: Consolas,Monaco,'Andale Mono',monospace;
    font-size: 17px;
    line-height: 100%;
    padding: 3px 5px;
}