html, body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0 auto;
    font:normal 1em/1.5 "Exo 2", helvetica, arial, sans-serif;
}

h1, h2, h3, h4 {
    color:#66A676;
    font-weight:normal;
    font-family:'Noticia Text', Palatino, Georgia, Times, "Times New Roman", serif;
}

menu {
    font-family:'Noticia Text', Palatino, Georgia, Times, "Times New Roman", serif;
}

a {
    color:rgba(254, 65, 65, 1);
    transition: all .3s linear;
}

a:hover {
    color:rgba(254, 65, 65, .8);
}

a img {
    border:none;
}

header {
    margin:0 auto 1em;
    padding:.3em 1em;
    background-color:#050;
}

h1 {
    margin:0;
    font-size:3em;
}

header p {
    margin:0;
    color:#fff;
}

footer[role=contentinfo] {
    font:normal 16px/1.5 Palatino,Georgia,Times,"Times New Roman",Serif;
    min-height: 190px;
    margin: 0 auto;
    padding: 5px;
    background-color: #f1f1f1;
    color: #444;
    text-align: center;
    transition: all 1s linear;
}

footer[role=contentinfo] a {
    font-family:Palatino,Georgia,Times,"Times New Roman",Serif;
    color: rgb(252, 96, 0);
    transition: all .3s linear;
}

footer[role=contentinfo] a:hover {
    color: #222;
}

footer[role=contentinfo] strong {
    color: rgb(0, 137, 211);
}

footer[role=contentinfo] div {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 5px;
    max-width: 670px;
    color: #999;
}

main,
footer[role=contentinfo] div:before,
footer[role=contentinfo] div:after {
    display: table;
    content: '';
}

main,
footer[role=contentinfo] div:after {
    clear: both;
}

footer[role=contentinfo] ul {
    list-style: none;
    margin: 5px auto;
    width: 60%;
}

footer[role=contentinfo] li {
    display: inline;
    margin: 0 3px;
}

footer[role=contentinfo] li:before {
    content: " | ";
}

footer[role=contentinfo] li:first-of-type:before {
    content: "";
}

footer[role=contentinfo] p {
    text-align: left;
}

footer[role=contentinfo] .alignleft {
    margin: 0 .3em .3em 0;
}

footer[role=contentinfo] .copyrights {
    padding: 10px 5px;
    font-style: normal;
    font-size: .8em;
    text-align: center;
}

menu {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
}

menu h2 {
    margin:0;
}

menu ul {
    list-style:none;
    margin:0;
    padding:.3em;
}

menu li {
    padding:.3em;
}

.selected::before {
    content:' >> ';
    color:#000;
}

main article {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding:1em;
}

main article p > code, 
main article li > code {
    background: none repeat scroll 0 0 #F5F6F7;
    border: 1px solid #DCDDDD;
    border-radius: 2px;
    display: inline-block;
    line-height:.8;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    padding: 3px;
}

.message-info {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0 auto .3em;
    padding:.3em;
    background-color:#B9E6F7;
    color:#227796;
    border-radius:.3em;
}

.message-warning {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0 auto .3em;
    padding:.3em;
    background-color:#F2DEDE;
    color:#B94A48;
    border-radius:.3em;
}

@media only screen and (min-width:630px) {
    html {
        background-image:linear-gradient(to right, #fce86a 251px, #fff 250px);
    }
    menu {
        float:left;
        width:250px;
        margin:0;
    }
    main article {
        float:right;
        width:calc(100% - 280px);
        margin:0;
        padding:0 1em 1em;
    }
}